# Globally ignored files
.DS_Store
.gradle
.gwt-log
*.rpc
*.class
*.swp

# Eclipse files
.classpath
.externalToolBuilders
.project
.settings

Geotools/target/*
Geotools/bin/*

# Stat files
stats/stats.txt
stats/instances.txt
